<div id="number__of--inputs-holder">
  <label for="numberOfInputs">Enter the number of inputs:</label>
  <input type="number" id="numberOfInputs" [(ngModel)]="numberOfInputs" pattern="[0-9]*" />
  <button (click)="generateInputs()">Generate Inputs</button>
</div>


<ng-container *ngIf="inputValues.length > 0">
  <div>
    <label>Input Values:</label>
    <ng-container *ngFor="let input of inputValues; let i = index; trackBy: trackByFn">
      <input type="text" [(ngModel)]="inputValues[i]" />
    </ng-container>
  </div>

  <label for="sortOrder">Sort Order:</label>

  <!-- <select id="sortOrder" [(ngModel)]="sortOrder">
    <option value="asc">Ascending</option>
    <option value="desc">Descending</option>
  </select> -->
  <mat-form-field>
    <mat-label>Sort Order:</mat-label>
    <mat-select [(ngModel)]="sortOrder">
      <mat-option value="asc">Ascending</mat-option>
      <mat-option value="desc">Descending</mat-option>
    </mat-select>
  </mat-form-field>
  <button (click)="sortValues()">Sort Values</button>
</ng-container>